:host{
  ion-list{
    background: var(--ion-color-tertiary);
    ion-item{
      text-transform: uppercase;
      font-size: 14px;
    }
      .active-button{
          font-weight: 600;
      }
  }
}
