<ion-row class="opening-container">
    <ion-row class="hoverable-container">
        <ion-chip>Ionic/Angular</ion-chip>
        <ul>
            <li>the main set of frameworks I've been working with</li>
            <li>this website and many projects included in my portfolio have been powered by this combo</li>
        </ul>
    </ion-row>
    <ion-row class="hoverable-container">
        <ion-chip>SCSS</ion-chip>
        <ul>
            <li>widely used extension of the syntax of CSS, part of my daily coding routine</li>
        </ul>
    </ion-row>
    <ion-row class="hoverable-container">
        <ion-chip>Wordpress</ion-chip>
        <ul>
            <li>automatic and manual installation/update of plugins; their integration with the website</li>
            <li>adding cutom fields to admin panel pages, output of their content to the website</li>
        </ul>
    </ion-row>
    <ion-row class="hoverable-container">
        <ion-chip>Amazon Alexa</ion-chip>
        <ul>
            <li>adding new pages and Alexa skills</li>
        </ul>
    </ion-row>
    <ion-row class="hoverable-container">
        <ion-chip>SVG</ion-chip>
        <ul>
            <li>color and size changes</li>
            <li>simple animation</li>
        </ul>
    </ion-row>
    <ion-row class="hoverable-container">
        <ion-chip>REST API</ion-chip>
        <ul>
            <li>sending requests to the server and processing the response</li>
        </ul>
    </ion-row>
    <ion-row class="hoverable-container">
        <ion-chip>LocalStorage</ion-chip>
        <ul>
            <li>saving and utilizing information about the user for better UX</li>
        </ul>
    </ion-row>
    <ion-row class="hoverable-container">
        <ion-chip>NPM</ion-chip>
        <ul>
            <li>installation of Node packages and utilizing their features in the projects</li>
        </ul>
    </ion-row>
    <ion-row class="hoverable-container">
        <ion-chip>Responsiveness</ion-chip>
        <ul>
            <li>elements display and concealment basing on the viewport dimensions</li>
            <li>adjustments of the elements' size, position, etc. using flexbox and media-queries</li>
            <li>familiar with the concepts of mobile first and graceful degradation approaches</li>
        </ul>
    </ion-row>
    <ion-row class="hoverable-container">
        <ion-chip>Animations and transformations</ion-chip>
        <ul>
            <li>Animations and transformations in response to user events (mouse movements, clicks, etc)</li>
            <li>using pure CSS, or in combination with JS</li>
        </ul>
    </ion-row>
    <ion-row class="hoverable-container">
        <ion-chip>Parallax effects</ion-chip>
        <ul>
            <li>a web site trend where the background content (i.e. an image) is moved at a different
                speed than the foreground content while scrolling.</li>
        </ul>
    </ion-row>
    <ion-row class="hoverable-container">
        <ion-chip>UI/UX basic principles</ion-chip>
        <ul>
            <li>even though UI/UX are in the scope of the designer's responsibility, as practice shows,
                it is good for a coder to be aware of their principles as well. </li>
        </ul>
    </ion-row>
</ion-row>
