main{
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 90vh;
  .glass{
    width: 80%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    ion-item{
      --background: rgba(255, 255, 255, 0);
      font-size: 25px;
      margin: 10px 0;
      .new-list-btn{
        margin-left: 20px;
      }
    }
    .add-new-task-section{
      flex-basis: auto;
      padding: 75px 50px;
      background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8));
      .flex-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        ion-label{
          font-size: 25px;
          font-weight: bold;
          margin-bottom: 12px;
        }
        ion-select {
          background: rgba(255,255,255,0.7);
          padding: 7px 17px;
          border: rgba(0,0,0,0.2) 3px solid;
          min-width: 300px;
        }
        .add-btn{
          margin: 16px 0 7px;
          height: 70px;
          font-size: 30px;
          align-self: flex-end;
        }
      }
    }
    .list-result{
      flex-basis: auto;
      display: flex;
      flex-direction: row;
      margin-top: 40px;
      align-items: center;
      justify-content: space-between;
      .switcher-container{
        flex-grow: 1;
        align-self: flex-start;
        ion-segment{
          flex-direction: column;
          min-height: 30vh;
          contain: none;
          overflow: visible;
          background: rgba(255, 255, 255, 0.4);
          border-radius: 0;
          ion-segment-button{
            --border-radius: 0;
            --background-checked: rgba(255, 255, 255, 0.4);
            --indicator-color: rgba(255, 255, 255, 0.7);
            --color-checked: var(--ion-color-tertiary);
            --padding-start: 20px;
            --padding-end: 20px;
            min-height: 40px;
            font-size: 22px;
            transition: font-size 2s ease-in, background 6ms;
            &::part(native){
              text-transform: uppercase;
            }
            &.segment-button-checked{
              &::part(native){
                font-weight: 900;
              }
            }
          }
          .add-new-list-btn{
            margin: 15px;
            ion-icon{
              font-size: 30px;
              color: white;
            }
            &:hover{
              &:after{
                content: "Create new list";
                background: white;
                color: var(--ion-color-tertiary);
                padding: 9px 16px;
                position: absolute;
                font-size: 20px;
                font-weight: 800;
                opacity: 1;
                border-radius: 10px;
                left: 31px;
              }
            }
          }
        }
      }
      .list-content-container{
        flex-grow: 4;
        margin-left: 1vw;
        .current-list-container{
          .current-list{
            padding: 40px;
            position: relative;
            background: linear-gradient(to left bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7));
            ol{
              color: var(--ion-color-tertiary);
              font-size: 26px;
              .list-item{
                font-size: 28px;
                text-transform: capitalize;
                font-family: 'Roboto';
                color: var(--ion-color-tertiary);
                font-weight: 500;
                &.high-priority{
                  font-weight: 900;
                  &:before{
                    content: '!';
                    position: absolute;
                    top: 3px;
                    left: 5px;
                    font-size: 30px;
                  }
                }
                &.low-priority{
                  color: rgba(45, 20, 44, 0.8);
                  font-weight: 400;
                }
                .list-item-flex-container{
                  display: flex;
                  align-items: center;
                  .list-item-text{
                    margin: 0;
                  }
                  .remove-btn{
                    visibility: hidden;
                    ion-icon{
                      width: 30px;
                      height: 29px;
                      color: var(--ion-color-tertiary);
                    }
                  }
                }
                &:hover{
                  .list-item-flex-container{
                    .remove-btn{
                      visibility: visible;
                    }
                  }
                }
              }
            }
            .delete-all-tasks-btn{
              position: absolute;
              right: 2vw;
              top: 2vw;
              &:hover{
                &:after{
                  content: "Clear list. This can't be undone!";
                  background: white;
                  color: var(--ion-color-tertiary);
                  padding: 9px 16px;
                  position: absolute;
                  font-weight: 800;
                  font-size: 20px;
                  opacity: 1;
                  border-radius: 10px;
                  right: -90%;
                }
              }
              ion-icon{
                width: 40px;
                height: 40px;
              }
            }
          }
        }
      }
    }
    h1{
      display: none;
    }
  }
  ion-input{
    border: var(--ion-color-tertiary) 2px solid;
    border-radius: 10px;
    --padding-start: 10px;
    --background: #383a3e2b;
    --placeholder-color: white;
    --placeholder-opacity: 1;
  }
}

.blur-container{
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background: linear-gradient(to right bottom, rgba(131, 209, 255, 0.5), rgba(255, 255, 255, 0.1));
  z-index: 10;
}

@media (max-width: 1750px) {
  main{
    .glass{
      width: 100%;
    }
  }
}

@media (max-width: 1160px) {
  ion-content{
    main{
      padding: 0;
      .glass{
        padding: 2rem;
        .add-new-task-section{
          padding: 30px 50px;
          h1{
            color: var(--ion-color-tertiary);
          }
          .flex-container{
            flex-direction: column;
            align-items: center;
            ion-item{
              width: 90%;
              margin: 20px 0;
            }
            .add-btn{
              margin: 40px 0 7px;
              height: 75px;
              align-self: center;
              width: 35%;
            }
          }
        }
        .list-result{
          flex-direction: column;
          padding-top: 25px;
          h1{
            color: white;
          }
          .switcher-container{
            width: 100%;
            margin-bottom: 30px;
            ion-segment{
              min-height: auto;
              flex-direction: row;
              overflow: scroll;
              ion-segment-button{
                min-width: fit-content;
                font-size: 20px;
              }
            }
          }
          .list-content-container{
            margin-left: 0;
            width: 100%;
            margin-bottom: 50px;
            h1{
              margin-top: 0;
              color: var(--ion-color-tertiary);
            }
            .current-list-container{
              .current-list{
                ol{
                  list-style-type: none;
                  .list-item{
                    font-size: 24px;
                    font-weight: 500;
                    border: rgba(0,0,0,0.1) 1px solid;
                    width: 95%;
                    padding: 20px 8px;
                    &:before{
                      font-size: 28px;
                      top: 24px;
                      left: 14px;
                    }
                    .list-item-flex-container{

                      width: 100%;
                      justify-content: space-between;
                      align-content: center;
                      .remove-btn{
                        visibility: visible;
                        align-self: center;
                      }
                    }

                  }
                }
                .delete-all-tasks-btn{
                  display: none;
                }
              }
            }
          }
        }
        h1{
          display: block;
          font-size: 30px;
          font-weight: 800;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  ion-content{
    main{
      .glass{
        padding: 0;
        h1{
          font-size: 18px;
          font-weight: 700;
          text-align: center;
        }
        .add-new-task-section{
          padding: 0;
          background: transparent;
          .flex-container{
            ion-item{
              margin: 10px 0;
              color: rgba(255,255,255,0.4);
              font-size: 14px;
              &:first-child{
                margin-top: 0;
              }
              ion-label{
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 3px;
              }
              ion-input{
                border-radius: 2px;
                --background: rgba(255,255,255,0.3);
                --placeholder-color: rgba(0,0,0,0.5);
                box-shadow: inset 0 0px 6px 2px rgba(0,0,0,0.1);
              }
              ion-select{
                min-width: auto;
              }
            }
            .add-btn{
              width: 100%;
              --border-radius: 0;
              --background: rgba(0, 127, 155, 0.8);
              --color: white;
              font-size: 18px;
              text-transform: uppercase;
              height: 50px;
              box-shadow: 0 0px 8px 2px rgba(0,0,0,0.2);
            }
          }
        }
        .list-result{
          margin-top: 20px;
          padding-top: 0;
          .switcher-container{
            ion-segment{
              border-radius: 0;
              background: rgba(255, 255, 255, 0.1);
              box-shadow: 0 0px 8px 2px rgba(0,0,0,0.2);
              ion-segment-button{
                font-size: 12px;
                color: rgba(255,255,255,0.4);
                &::part(indicator-background){
                  background: rgba(0, 127, 155, 0.5);
                }
                &.segment-button-checked{
                  color: rgba(255,255,255,0.6);
                  &::part(native){
                    font-weight: 900;
                    font-size: 12px;
                  }
                  &::part(indicator-background){
                    border-radius: 1px;
                  }
                }
              }
              .add-new-list-btn{
                margin: 10px;
                height: auto;
                ion-icon{
                  font-size: 22px;
                }
              }
            }
          }
          .list-content-container{
            .current-list-container{
              .current-list{
                padding: 20px;
                min-height: 55vh;
                ol{
                  width: 100%;
                  padding: 0;
                  .list-item{
                    font-size: 16px;
                    padding: 2px;
                    width: 100%;
                    &:before{
                      font-size: 19px;
                      top: 12px;
                    }
                    .list-item-flex-container{
                      .remove-btn{
                        ion-icon{
                          width: 23px;
                          height: 20px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .blur-container{
    height: 160vh;
  }
}
