:host{
  ion-header{
    ion-button{
      --padding-start: 1rem;
      --padding-end: 1rem;
    }
  }
  main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 8.56rem);
    .background-container{
      justify-content: space-evenly;
      //min-height: 50vh;
      //height: max-content;
      padding: 3vw;
      width: 100%;
      max-width: 1500px;
      height: 100%;
      overflow-y: auto;
      .add-new-task-section{
        height: max-content;
        width: 100%;
        max-width: 400px;
      }
      .right-pane{
        flex-direction: column;
        .list-selection-section{
          padding: 0 1rem 2rem;
          ion-select{
            &::part(placeholder){
              opacity: 1;
              font-size: 0.8rem;
            }
          }
          .add-new-list-btn{
            ion-icon{
              margin-right: 5px;
              height: 16px;
              width: 16px;
            }
          }
        }
        .list-display-section{
          padding: 0 1rem;
          position: relative;
          width: calc(100% + 3vw);
          flex-direction: column;
          border: 2px solid;
          max-width: 90vw;
          box-shadow: 0 0 5px 4px rgb(173	216	189 / 60%);
          .list-menu-btn{
            position: absolute;
            right: -8px;
            top: -6px;
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    main{
      height: calc(100vh - 7.56rem);
    }
  }
}
