<ion-header class="ion-no-border" translucent="true" color="tertiary">
  <app-header [useContainer]="true" [color]="color" [printable]="true">
    To-do-list
      <ion-button
      class="outset"
      fill="clear"
      (click)="openPrintSettings()">Printable view</ion-button>
  </app-header>
</ion-header>
<ion-content [fullscreen]="true" color="tertiary">

  <main>
    <ion-row class="background-container">
      <ion-row class="add-new-task-section outset">
        <app-task-add [color]="color"></app-task-add>
      </ion-row>
      <ion-row class="right-pane">
        <ion-row class="list-selection-section ion-justify-content-between">
          <ion-select
              [(ngModel)]="this.tasksService.selectedList"
              interface="popover"
              [interfaceOptions]="listSelectionOptions"
              placeholder="Select list to display"
              class="list-select outset">
            <ion-select-option *ngFor="let list of tasksService.lists" [value]="list.name">{{list.name}}</ion-select-option>
          </ion-select>
                      <ion-button class="add-new-list-btn" (click)="openCreateNewListPopover()">
                        <ion-icon name="add-outline"></ion-icon>
                        New list
                      </ion-button>
        </ion-row>
        <ion-row class="list-display-section" [ngSwitch]="this.tasksService.selectedList">
          <h1 *ngIf="!this.tasksService.selectedList" class="ion-text-center">Select a list above</h1>
          <h1 *ngIf="this.tasksService.selectedList">Your tasks from {{this.tasksService.selectedList}} list</h1>
          <ion-row *ngFor="let list of this.tasksService.lists; let i = index" class="full-width">
            <ion-row *ngSwitchCase="list.name" class="full-width">
              <ion-button
                fill="clear"
                class="list-menu-btn"
                (click)="openListMenu($event, i)">
                <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
              </ion-button>
              <app-list-content [i]="i"></app-list-content>
            </ion-row>
          </ion-row>
        </ion-row>

      </ion-row>
      <ion-button *ngIf="viewportWidth <= 768" class="full-width ion-margin-top" (click)="openPrintSettings()">Show result</ion-button>
    </ion-row>
  </main>
  <app-footer></app-footer>
</ion-content>
