:host{
  overflow-y: auto;
  padding: 1rem;
  ion-list{
    & > ion-row{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
    }
    & ~ ion-list{
      page-break-after: always;
    }
    h1{
      font-size: 36px;
      text-align: center;
      font-weight: 600;
    }
    h2{
      font-size: 14px;
      text-transform: uppercase;
      margin-top: 30px;
      color: #adadad;
    }
    ion-item{
      margin-bottom: 0;
      font-size: 22px;
    }
  }
  @media print {
    ion-button{
      display: none;
    }
  }
}
