:host{
  footer{
    z-index: 10;
    background: var(--ion-color-tertiary);
    display: flex;
    height: 4rem;
    justify-content: center;
    width: 100%;
    align-items: center;
    p{
      font-size: 0.6rem;
      margin: 0 1.5rem;
    }
    ion-button{
      --padding-start: 0.5rem;
      --padding-end: 0.5rem;
      height: 2rem;
      ion-icon{
        width: 24px;
        height: 24px;
      }
    }

  }
  @media (max-width: 660px) {
    footer{
      flex-direction: column;
    }
  }
}
