<ion-toolbar  *ngIf="useContainer" [color]="color">
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col size="11" class="ion-no-padding">
      <ng-container *ngTemplateOutlet="headerBody"></ng-container>
    </ion-col>
  </ion-row>
</ion-toolbar>

<ng-container *ngIf="!useContainer">
  <ng-container *ngTemplateOutlet="headerBody"></ng-container>
</ng-container>

<ng-template #headerBody>
  <ion-toolbar [color]="color">
    <!-- <ion-title class="ion-text-uppercase">
 <ng-content></ng-content>
      <svg-icon src="/assets/svg/logo.svg"></svg-icon>
    </ion-title> -->
    <ion-buttons slot="end" *ngIf="viewportWidth <= 768">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons collapse="true" slot="end" *ngIf="viewportWidth > 768">
      <ion-row class="ion-align-items-end">
        <ion-col *ngIf="printable"><ng-content select="ion-button"></ng-content></ion-col>
        <ion-col *ngFor="let button of this.nav.navigation">
          <ion-row *ngIf="button.url">
            <ion-button
              (click)="goTo(button.url)"
              fill="clear"
              routerDirection="forward"
              routerLinkActive="active-button">
              <span>{{button.title}}</span></ion-button>
          </ion-row>
          <ion-row *ngIf="button.children?.length > 0">
            <ion-button
              fill="clear"
              (click)="openSubmenu(button, $event)"><span>{{button.title}}</span></ion-button>
          </ion-row>
        </ion-col>
      </ion-row>

    </ion-buttons>
  </ion-toolbar>
</ng-template>
