:host{
  ion-toolbar{
    padding-top: 0.5rem;
    ion-buttons{
      ion-title{
        svg-icon{
          svg{
            height: 45px;
          }
        }
      }
      ion-button{
        --background-hover: none;
        --ripple-color: transparent;
        span:after{
            content: '';
            width: 0px;
            height: 1px;
            background: var(--ion-color-primary);
            position: absolute;
            left: 0;
            right: 100%;
            bottom: 0;
            transition: all 300ms ease-in-out;
        }
        &:hover{
          span:after{
            right: 100%;
            width: 100%;
          }
          //border-bottom: var(--ion-color-primary) 1px solid;
        }
        &.active-button{
          --background: var(--ion-color-light);//doens't work
        }
      }
    }

  }
  @media (min-width: 900px) {
    ion-buttons{
      ion-button{
        margin-left: 1rem;
        //--padding-start: 1rem;
        //--padding-end: 1rem;
      }
    }
  }
}

