:host{
  ion-toolbar{
    padding-top: 0.5rem;
    ion-buttons{
        ion-fab{
            left: -130%;
            ion-fab-button{
                --box-shadow: none;
                --background: transparent;
                --color: var(--ion-color-secondary-contrast);
                --background-activated: transparent;
                --background-hover: transparent;
                svg-icon{
                    height: auto;
                    width: 1.6rem;
                }
                ion-icon{
                    font-size: 1.5rem;
                    //padding-bottom: 7px;
                }
            }
            ion-fab-list{
                margin-right: 2.6rem;
                ion-fab-button{
                    margin: 0.3vw;
                }
            }
        }

        ion-menu-button{
            align-self: flex-start;
            font-size: 1.5rem;
        }
      ion-button{
        --background-hover: none;
        --ripple-color: transparent;
        span:after{
            content: '';
            width: 0px;
            height: 1px;
            background: var(--ion-color-primary);
            position: absolute;
            left: 0;
            right: 100%;
            bottom: 0;
            transition: all 300ms ease-in-out;
        }
        &:hover{
          span:after{
            right: 100%;
            width: 100%;
          }
          //border-bottom: var(--ion-color-primary) 1px solid;
        }
        &.active-button{
          --background: var(--ion-color-light);//doens't work
        }
      }
    }

  }
  @media (min-width: 900px) {
    ion-buttons{
      ion-button{
        margin-left: 1rem;
        //--padding-start: 1rem;
        //--padding-end: 1rem;
      }
    }
  }
}

