.header-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 39px 0 69px;
    height: 116px;
    align-items: center;
}

@media (max-width: 600px) {
    .header-wrapper{
        padding: 0 20px;
        height: 70px;
    }
}