<div class="company">
  <h2>July 2021 - now</h2>
  <h2>Deloitte, Junior Frontend Developer</h2>
  <h2>Projects:</h2>
  <div class="project">
    <p>Econ</p>
    <p>Client: USA</p>
    <p>Team: Ukraine/India, 15 people</p>
    <p>Stack: .Net, Angular</p>
  </div>
  <div class="project">
    <p>SDA</p>
    <p>Client: Georgia</p>
    <p>Team: Ukraine/Russia, 5 people</p>
    <p>Stack: .Net, Angular</p>
  </div>
  <div class="project">
    <p>Orchestration Hub</p>
    <p>Client: USA</p>
    <p>Team: Ukraine, 26 people</p>
    <p>Stack: .Net, Angular</p>
  </div>
</div>

<div class="company">
  <h2>October 2020 - May 2021</h2>
  <h2>Best Apps, Trainee Frontend Developer</h2>
  <h2>Projects:</h2>
  <div class="project">
    <p>Bracket Fanatics</p>
    <p>Client: USA</p>
    <p>Team: Ukraine, 5 people</p>
    <p>Stack: Angular, Ionic</p>
  </div>
  <div class="project">
    <p>Bopredicta</p>
    <p>Client: USA</p>
    <p>Team: Ukraine, 5 people</p>
    <p>Stack: Angular, Ionic</p>
  </div>
  <div class="project">
    <p>Pierre</p>
    <p>Client: USA</p>
    <p>Team: Ukraine, 26 people</p>
    <p>Stack: Angular, Ionic, Amazon Alexa SDK</p>
  </div>
</div>
