.project{
    p:first-child{
        font-weight: 600;
        font-size: 1.125rem;
    }
    margin-bottom: 2.1875rem;
}

.company{
    margin-bottom: 3.125rem;
    &:first-child{
        margin-top: 1.875rem;
    }
}