:host{
    ion-content {
        &::part(scroll){
            overflow-y: hidden;
        }
        main{
            display: flex;
            justify-content: center;
            height: 92vh;
            align-items: center;
            .wrapper{
                display: flex;
                max-width: 56.82rem;
                margin: 0 auto;
                background: var(--background);
                justify-content: space-between;
                color: var(--ion-color-tertiary-contrast);
                box-shadow: #929292 0 0 4px 3px;
                height: 85vh;
                overflow: hidden;
                .left-pane{
                    width: 34%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    background: var(--ion-color-tertiary);
                    position: sticky;
                    top: 0;
                    flex-wrap: nowrap;
                    padding: 1vw;
                    ion-row{
                        flex-direction: column;
                        align-items: center;
                        border-bottom: #98969b 1px solid;
                        padding-bottom: 4vh;
                        padding-top: 4vh;
                        &:last-child{
                            border-bottom: none;
                        }

                    }
                    .header{
                        h1{
                            font-weight: bold;
                            text-transform: uppercase;
                            font-size: 1.45rem;
                            order: 2;
                            margin-top: 1.36rem;
                            margin-bottom: 0;
                        }
                        h2{
                            text-transform: uppercase;
                            font-weight: 600;
                            order: 3;
                            font-size: 0.91rem;
                        }
                        img{
                            border-radius: 50%;
                            width: 70%;
                            order: 1;
                            max-width: 22.16vh;
                        }
                    }
                    .contacts{
                        a{
                            text-decoration: none;
                            &:first-child{
                                margin-bottom: 0.68rem;
                            }
                        }
                    }
                    .social{
                        flex-direction: row;
                        justify-content: space-evenly;
                        svg-icon{
                            height: auto;
                            width: 1.6rem;
                            color: var(--ion-color-primary);
                            fill: var(--ion-color-primary);
                        }
                        ion-label{
                            width: 0;
                            min-width: 100%;
                            transform-origin: center;
                            text-align: center;
                            overflow: visible;
                            display: none;
                        }
                    }
                }
                .right-pane{
                    flex-direction: column;
                    width: 63%;
                    padding-right: 1.36rem;
                    flex-wrap: nowrap;
                    margin-top: 1.36rem;
                    overflow-y: auto;
                    margin-bottom: 0.45rem;
                    & > ion-row{
                        flex-direction: column;
                        padding-top: 0.45rem;
                        padding-bottom: 0.23rem;
                        ion-item{
                            cursor: default;
                        }
                        & > ion-item{
                            border-bottom: #98969b 1px solid;
                            border-top: white 1px solid;
                            cursor: pointer;
                            &:hover{
                                background: #fcfcfd;
                                transition: background-color 200ms ease-in-out;
                                border-radius: 5px;
                                border: #f7f7f7 1px solid;
                            }
                        }
                        h3{
                            padding-bottom: 0.55rem;
                            width: 100%;
                        }

                    }
                    .opening-container{
                        position: relative;
                        align-content: baseline;
                        padding: 1rem;
                        .hoverable-container{
                            width: auto;
                            ion-chip{
                                margin: 0.45rem;
                            }
                            ul{
                                position: absolute;
                                left: 0;
                                opacity: 0;
                                transition: opacity 300ms ease-in;
                                font-size: 0.64rem;
                                width: 100%;
                                bottom: -20px;
                                z-index: -5;
                                padding: 0.45rem 0.45rem 0.45rem 1.36rem;
                            }
                            &:hover{
                                ul{
                                    opacity: 1;
                                    background: white;
                                    z-index: 1;
                                }
                            }
                        }
                    }
                    .intro{
                        p{
                            padding-left: 0.73rem;
                            padding-right: 0.55rem;
                            line-height: 1.36rem;
                        }
                    }
                    .portfolio{
                        .opening-container{
                            max-width: 100%;
                            ion-list{
                                max-width: 100%;
                                ion-label{
                                    white-space: normal;
                                    & > a {
                                        font-weight: 700;
                                        color: var(--ion-color-tertiary-contrast);
                                        text-transform: capitalize;
                                    }
                                    a{
                                        text-decoration: none;
                                        &:hover{
                                            text-decoration: underline;
                                            color: black;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .tools{
                        .opening-container{
                            flex-direction: row;
                            justify-content: space-evenly;
                            ion-item{
                                margin: 0.91rem;
                                img{
                                    height: 3.64rem;
                                    width: auto;
                                }
                                ion-label{
                                    transform-origin: center top;
                                    width: 0;
                                    min-width: 100%;
                                    text-align: center;
                                    opacity: 0;
                                    transition: all 300ms ease-in;
                                }
                                &:hover{
                                    ion-label{
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
    @media (max-width: 880px){
        ion-content{
            &::part(scroll){
                overflow-y: scroll;
            }
            main{
                height: auto;
                align-items: flex-start;
                .wrapper{
                    flex-direction: column;
                    height: auto;
                    overflow: auto;
                    justify-content: flex-start;
                    .left-pane{
                        width: 100%;
                        flex-direction: row;
                        justify-content: space-evenly;
                        position: static;
                        background: var(--ion-color-secondary);
                        & > ion-row{
                            border-bottom: none;
                            &:last-child{
                                height: 90%;
                                justify-content: space-evenly;
                            }
                        }
                        ion-row{
                            padding: 1vh;
                        }
                    }
                    .right-pane{
                        width: 100%;
                        overflow-y: initial;
                        padding-right: 0;
                        .opening-container{
                            .hoverable-container{
                                ion-chip{
                                    padding: 30px 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    //@media (max-width: 768px){
    //    ion-content{
    //        main{
    //            .wrapper{
    //                height: calc(100vh - 74px);
    //            }
    //        }
    //    }
    //}
    @media (max-width: 525px){
        ion-content{
            main{
                .wrapper{
                    .left-pane{
                        flex-direction: column;
                    }
                }
            }
        }
    }
    @media (max-width: 430px){
        ion-content{
            main{
                .wrapper{
                    .right-pane{
                        .tools{
                            .opening-container{
                                ion-item{
                                    margin: 0.4rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
