<ion-list>
    <ion-item
        *ngIf="currentTab === 'Important'"
        id="markNotImportant"
        (click)="handleClick($event)">
        Remove from important
    </ion-item>

    <ion-item
        *ngIf="currentTab !== 'Important'
        && currentTab !== 'Completed'
        && currentTab !== 'Tasks to complete'
        && currentTab !== 'With due date'"
        [id]="currentTab"
        (click)="handleClick($event)">
        Remove from this category
    </ion-item>

    <ion-item
        *ngIf="selectedTasks.length > importantTasks.length && currentTab !== 'Important'"
        id="markImportant"
        (click)="handleClick($event)">
        Mark as important
    </ion-item>

    <ion-item
        id="markCompleted"
        (click)="handleClick($event)">
        Mark as completed
    </ion-item>

    <ion-item
        id="setDueDate">
        <ion-datetime
            (ionChange)="handleClick($event)"
            ngModel
            name="dueDate"
            displayFormat="DD MMMM YYYY"
            [min]="today"
            max="2100"
            [placeholder]="(selectedTasks.length > tasksWithDueDate.length) ? 'Set due date' : 'Change due date'"></ion-datetime>
    </ion-item>

    <ion-item
        id="deleteTasks"
        (click)="handleClick($event)">
        Delete selected tasks
    </ion-item>
</ion-list>
