// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #12211F;
  --ion-color-primary-rgb: 18,33,31;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #101d1b;
  --ion-color-primary-tint: #2a3735;

  --ion-color-secondary: #e7e5ea;
  --ion-color-secondary-rgb: 231,229,234;
  --ion-color-secondary-contrast: #101010;
  --ion-color-secondary-contrast-rgb: 16,16,16;
  --ion-color-secondary-shade: #cbcace;
  --ion-color-secondary-tint: #e9e8ec;

    --ion-color-tertiary: #bbbbbe;
    --ion-color-tertiary-rgb: 187,187,190;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0,0,0;
    --ion-color-tertiary-shade: #a5a5a7;
    --ion-color-tertiary-tint: #c2c2c5;

  --ion-color-success: #017e33;
  --ion-color-success-rgb: 1,126,51;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #016f2d;
  --ion-color-success-tint: #1a8b47;

  --ion-color-warning: #B8C902;
  --ion-color-warning-rgb: 184,201,2;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #a2b102;
  --ion-color-warning-tint: #bfce1b;

  --ion-color-danger: #CC2614;
  --ion-color-danger-rgb: 204,38,20;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #b42112;
  --ion-color-danger-tint: #d13c2c;

  --ion-color-dark: #150301;
  --ion-color-dark-rgb: 21,3,1;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #120301;
  --ion-color-dark-tint: #2c1c1a;

  --ion-color-medium: #334834;
  --ion-color-medium-rgb: 51,72,52;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #2d3f2e;
  --ion-color-medium-tint: #475a48;

    --ion-color-light: #ebecf0;
    --ion-color-light-rgb: 235,236,240;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #cfd0d3;
    --ion-color-light-tint: #edeef2;

    /** gigit **/
    --ion-color-gigit: #1e272e;
    --ion-color-gigit-rgb: 30,39,46;
    --ion-color-gigit-contrast: #ffffff;
    --ion-color-gigit-contrast-rgb: 255,255,255;
    --ion-color-gigit-shade: #1a2228;
    --ion-color-gigit-tint: #353d43;

    --ion-color-bluishGray: #5d798c;
    --ion-color-bluishGray-rgb: 93,121,140;
    --ion-color-bluishGray-contrast: #ffffff;
    --ion-color-bluishGray-contrast-rgb: 255,255,255;
    --ion-color-bluishGray-shade: #526a7b;
    --ion-color-bluishGray-tint: #6d8698;

    .ion-color-gigit{
        --ion-color-base: var(--ion-color-gigit);
        --ion-color-base-rgb: var(--ion-color-gigit-rgb);
        --ion-color-contrast: var(--ion-color-gigit-contrast);
        --ion-color-contrast-rgb: var(--ion-color-gigit-contrast-rgb);
        --ion-color-shade: var(--ion-color-gigit-shade);
        --ion-color-tint: var(--ion-color-gigit-tint);
    }

    .ion-color-bluishGray{
        --ion-color-base: var(--ion-color-bluishGray);
        --ion-color-base-rgb: var(--ion-color-bluishGray-rgb);
        --ion-color-contrast: var(--ion-color-bluishGray-contrast);
        --ion-color-contrast-rgb: var(--ion-color-bluishGray-contrast-rgb);
        --ion-color-shade: var(--ion-color-bluishGray-shade);
        --ion-color-tint: var(--ion-color-bluishGray-tint);
    }


  //--ion-font-family: 'Montserrat';
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
      --ion-color-primary: #4EBBAB;
      --ion-color-primary-rgb: 78,187,171;
      --ion-color-primary-contrast: #000000;
      --ion-color-primary-contrast-rgb: 0,0,0;
      --ion-color-primary-shade: #45a596;
      --ion-color-primary-tint: #60c2b3;

      --ion-color-secondary: #001233;
      --ion-color-secondary-rgb: 0,18,51;
      --ion-color-secondary-contrast: #ffffff;
      --ion-color-secondary-contrast-rgb: 255,255,255;
      --ion-color-secondary-shade: #00102d;
      --ion-color-secondary-tint: #1a2a47;

      --ion-color-tertiary: #0c0029;
      --ion-color-tertiary-rgb: 12,0,41;
      --ion-color-tertiary-contrast: #ffffff;
      --ion-color-tertiary-contrast-rgb: 255,255,255;
      --ion-color-tertiary-shade: #0b0024;
      --ion-color-tertiary-tint: #241a3e;

      --ion-color-success: #57D144;
      --ion-color-success-rgb: 87,209,68;
      --ion-color-success-contrast: #000000;
      --ion-color-success-contrast-rgb: 0,0,0;
      --ion-color-success-shade: #4db83c;
      --ion-color-success-tint: #68d657;

      --ion-color-warning: #ffc409;
      --ion-color-warning-rgb: 255,196,9;
      --ion-color-warning-contrast: #000000;
      --ion-color-warning-contrast-rgb: 0,0,0;
      --ion-color-warning-shade: #e0ac08;
      --ion-color-warning-tint: #ffca22;

      --ion-color-danger: #a81f28;
      --ion-color-danger-rgb: 168,31,40;
      --ion-color-danger-contrast: #ffffff;
      --ion-color-danger-contrast-rgb: 255,255,255;
      --ion-color-danger-shade: #941b23;
      --ion-color-danger-tint: #b1353e;

      --ion-color-dark: #222428;
      --ion-color-dark-rgb: 34,36,40;
      --ion-color-dark-contrast: #ffffff;
      --ion-color-dark-contrast-rgb: 255,255,255;
      --ion-color-dark-shade: #1e2023;
      --ion-color-dark-tint: #383a3e;

      --ion-color-medium: #92949c;
      --ion-color-medium-rgb: 146,148,156;
      --ion-color-medium-contrast: #ffffff;
      --ion-color-medium-contrast-rgb: 255,255,255;
      --ion-color-medium-shade: #808289;
      --ion-color-medium-tint: #9d9fa6;

      --ion-color-light: #0e0057;
      --ion-color-light-rgb: 14,0,87;
      --ion-color-light-contrast: #ffffff;
      --ion-color-light-contrast-rgb: 255,255,255;
      --ion-color-light-shade: #0c004d;
      --ion-color-light-tint: #261a68;

    /** gigit **/
    --ion-color-gigit: #1e272e;
    --ion-color-gigit-rgb: 30,39,46;
    --ion-color-gigit-contrast: #ffffff;
    --ion-color-gigit-contrast-rgb: 255,255,255;
    --ion-color-gigit-shade: #1a2228;
    --ion-color-gigit-tint: #353d43;
}
  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #0e0c0b;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #0e0c0b;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}
