<ion-header class="ion-no-border" translucent="true" color="secondary">
  <app-header [useContainer]="true" [color]="color">
    Rems converter
  </app-header>
</ion-header>
<ion-content [fullscreen]="true" color="secondary">
<!--  <ion-header class="ion-no-border" collapse="condense">-->
<!--    <app-header [useContainer]="true" [color]="color">-->
<!--      Rems converter-->
<!--    </app-header>-->
<!--  </ion-header>-->
  <main>
  <div class="options-container">
    <div class="options-inner-container">
      <ion-item lines="none" color="secondary">
        <div class="option-wrapper">
          <ion-label class="ion-text-wrap">Default pixel size:</ion-label>
          <ion-input [(ngModel)]="defaultPxSize" (ngModelChange)="recalculateRems()"></ion-input>
        </div>
      </ion-item>
      <ion-item lines="none" color="secondary">
        <div class="option-wrapper">
          <ion-label class="ion-text-wrap">Digits after the decimal point:</ion-label>
          <ion-input [(ngModel)]="decimalDigits"  (ngModelChange)="recalculateRems()"></ion-input>
        </div>
      </ion-item>
      <ion-item lines="none" color="secondary">
        <div class="option-wrapper">
          <ion-label class="ion-text-wrap">Pixels:</ion-label>
          <ion-input  [(ngModel)]="pixels" (ngModelChange)="recalculateRems()"></ion-input>
        </div>
      </ion-item>
      <ion-item lines="none" color="secondary">
        <div class="option-wrapper">
          <p *ngIf="pixels">Your rems:</p>
          <p *ngIf="pixels">{{rems}}rem</p>
        </div>
      </ion-item>
    </div>
  </div>
  </main>
</ion-content>
