:host{
  ion-header{
    ion-toolbar{
      --background: var(--ion-color-light);
        ion-title{
            width: max-content;
        }
    }
  }
  ion-content{
    height: 100vh;
    --background: var(--ion-color-light);
    .active{
      --ion-text-color: var(--ion-color-success)
    }
    .active-parent{
      font-weight: bolder;
    }
    ion-list{
      background: transparent;
      .sub-item{
        padding-left: 1rem;
      }
    }
  }
}
