<ion-content>
    <main>
        <header>
            <ion-row>
                <ion-row class="logo">
                    <img src="assets/images/gigital/logo-bg.png">
                    <img src="assets/images/gigital/goblet.png">
                </ion-row>
                <ion-chip>Closes in 14 hours</ion-chip>
            </ion-row>
            <ion-row>
                <h3>Gala or award ceremony</h3>
            </ion-row>
        </header>
        <section class="information">
            <ion-row>
                <h1>Gigital Awards</h1>
                <p>Gigital is hosting a internal gala for it’s employees.
                    Look sharp and be ready to party. We want good vibes and a serious impression from the artists.</p>
                <p>We are ready to increase our budget by a couple of hundred SEK if the artist seems like the right match.</p>
            </ion-row>
            <ion-row class="details">
                <ion-row>
                    <h4>PLACE</h4>
                    <p>Nalen, Stockholm</p>
                </ion-row>
                <ion-row>
                    <h4>DAte and time</h4>
                    <p>15 februari 2019, 21:00</p>
                </ion-row>
                <ion-row>
                    <h4>Application deadline</h4>
                    <p>12 februari 2019</p>
                </ion-row>
            </ion-row>
        </section>
        <section class="highlights">
            <ion-row>
                <h3>Looking for</h3>
                <h5>Band, DJ</h5>
            </ion-row>
            <ion-row>
                <h3>Acts</h3>
                <h5>2 acts available</h5>
            </ion-row>
            <ion-row>
                <h3>Budget</h3>
                <h5>up to <span class="bold">12000</span> SEK</h5>
            </ion-row>
        </section>
        <section class="acts">
            <h2>Acts</h2>
            <ion-item>
                <ion-row><h2>DJ</h2></ion-row>
                <ion-row>
                    <h3>Description</h3>
                    <p>Let’s go crazy!!</p>
                </ion-row>
                <ion-row>
                    <h3>Budget</h3>
                    <p>up to <span class="bold">2000</span> SEK</p>
                    <p class="comment"><span class="highlighted">Fees</span> will be applied</p>
                </ion-row>
            </ion-item>
            <ion-item>
                <ion-row><h2>Band</h2></ion-row>
                <ion-row>
                    <h3>Description</h3>
                    <p>A partyband that can deliver</p>
                </ion-row>
                <ion-row>
                    <h3>Budget</h3>
                    <p>up to <span class="bold">7000</span> SEK</p>
                    <p class="comment"><span class="highlighted">Fees</span> will be applied</p>
                </ion-row>
            </ion-item>
            <ion-item>
                <ion-row><h2>DJ</h2></ion-row>
                <ion-row>
                    <h3>Description</h3>
                    <p>We’re looking for a great DJ that can set the mood</p>
                </ion-row>
                <ion-row>
                    <h3>Budget</h3>
                    <p>up to <span class="bold">3000</span> SEK</p>
                    <p class="comment"><span class="highlighted">Fees</span> will be applied</p>
                </ion-row>
            </ion-item>
        </section>
        <footer>
            <h5>Not for you?</h5>
            <h5>We have more gigs that might fit you</h5>
            <ion-row class="tip">
                <img src="/assets/images/gigital/lamp.svg">
                <p>Tip from Gigital: <span>Did you know you can filter gigs by using the tags on your artist profile?</span></p>
                <a href="#">Show me <img src="/assets/images/gigital/arrow-fwd.svg"></a>
            </ion-row>
        </footer>
    </main>
</ion-content>
