<form #form="ngForm" class="wrapper">
    <h1>Add new task</h1>
    <ion-item>
        <ion-label position="stacked">
            What do you need to complete?
            <span *ngIf="taskName.untouched" class="error">*Required field</span>
        </ion-label>
        <ion-input
            type="text"
            ngModel
            required
            minlength="3"
            name="name"
            #taskName="ngModel"></ion-input>
<!--        {{taskName.errors | json}}-->
        <ion-row *ngIf="taskName.errors && taskName.touched">
            <p *ngIf="taskName.errors.required"  class="error">This field cannot be empty</p>
            <p *ngIf="taskName.errors.minlength" class="error">The task description is too short</p>
        </ion-row>
    </ion-item>
    <ion-item>
        <ion-checkbox [ngModel]="form.value.isImportant" name="isImportant">
        </ion-checkbox>
                    <ion-icon *ngIf="!form.value.isImportant" slot="start" name="star-outline"></ion-icon>
                    <ion-icon *ngIf="form.value.isImportant" slot="start" name="star"></ion-icon>
        <ion-label>mark task as important</ion-label>
    </ion-item>
    <ion-item ngModelGroup="categories">
        <ion-label position="stacked">Select from existing categories:</ion-label>
        <ion-row>
                <ion-chip *ngFor="let category of categories">
                    <ion-checkbox ngModel="false" [name]="category"></ion-checkbox>
                    {{category}}
                </ion-chip>
        </ion-row>
        <ion-label position="stacked">Or enter a new one:</ion-label>
        <ion-input type="text" ngModel name="newCategory"></ion-input>
    </ion-item>
    <ion-item>
        <ion-datetime
            ngModel
            name="dueDate"
            displayFormat="DD MMMM YYYY"
            [min]="today"
            max="2100"
            placeholder="Set due date"></ion-datetime>
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
    </ion-item>
    <ion-button (click)="check()">check</ion-button>
    <ion-button (click)="submit()" [disabled]="form.invalid">Add task</ion-button>
</form>
