:host{
.wrapper{
  flex-direction: column;
  height: 100%;
  background: var(--ion-color-secondary);
  .buttons-wrapper{
    width: 100%;
    justify-content: space-evenly;
    ion-button{
      width: 170px;
      height: 90px;
      font-weight: 700;
      ion-label{
        display: inline-block;
        padding: 5px;
        background: white;
        border-radius: 3px;
      }
      &:first-of-type{
        background-image: url(/assets/images/american-flag.png);
        background-size: cover;
      }
      &:nth-of-type(2){
        background-image: url(/assets/images/ukrainian-flag.png);
        background-size: contain;
      }
    }
  }
}
}
