.app-navigation {
    a {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      color: var(--primary);
      &.active {
        font-weight: 700;
      }
    }
  }

  @media (max-width: 600px){
    .app-navigation{
      a{
        font-size: 1.17rem;
      }
    }
  }