<ion-header class="ion-no-border" translucent="true" color="light">
  <app-header [useContainer]="true" [color]="color">
    Welcome
  </app-header>
</ion-header>
<ion-content [fullscreen]="true" color="light">
<!--  <ion-header class="ion-no-border" collapse="condense">-->
<!--    <app-header [useContainer]="true" [color]="color">-->
<!--      Welcome-->
<!--    </app-header>-->
<!--  </ion-header>-->
  <main>
    <div class="main-text">
      <p>My name is Natalie Lukaniuk.</p>
      <p>I'm a junior frontend developer working with Angular and Ionic Frameworks.</p>
      <p>As any decent web-developer, especially junior one, I do my best to polish and upgrade my skills. The key to that is definitely endless and restless coding.</p>
      <p>Check one of my pet projects:</p>
      <ion-item (click)="goRemApp()" lines="none">Pixels to rem converter</ion-item>
      <ion-item (click)="goToDo()" lines="none">To-do list app</ion-item>
    </div>
  </main>
</ion-content>
