@charset "UTF-8";
:host ion-header {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
:host ion-header.visible {
  opacity: 1;
}
:host ion-content::part(scroll) {
  overflow: hidden;
}
:host ion-content main {
  overflow-y: auto;
  height: 100vh;
}
:host ion-content main .scroll-container {
  height: 500vh;
  flex-direction: column;
  position: relative;
  z-index: 20;
  background: transparent;
}
:host ion-content main p {
  font-size: 4vw;
  margin: 0;
  line-height: 5vw;
  max-width: 90%;
}
:host ion-content main .decoration {
  position: absolute;
  top: 0;
  padding: 8vh 2vh;
}
:host ion-content main #greeting, :host ion-content main .arrow-icon-wrapper, :host ion-content main #first-block, :host ion-content main #second-block, :host ion-content main #third-block, :host ion-content main #avatar, :host ion-content main .frameworks-img, :host ion-content main .fourth-block, :host ion-content main #fifth-block, :host ion-content main #contacts {
  position: fixed;
  z-index: 1;
  padding: 3vw;
}
:host ion-content main .hidden-header {
  opacity: 1;
  transition: opacity 500ms ease-out;
}
:host ion-content main .hidden-header.hide {
  opacity: 0;
}
:host ion-content main #greeting {
  top: 40vh;
  width: 100%;
  text-align: center;
}
:host ion-content main #greeting.show:before {
  text-transform: uppercase;
  font-size: 4vw;
  font-weight: 600;
  color: var(--ion-color-dark);
}
:host ion-content main #greeting.show.eng:before {
  content: "Please scroll down";
  animation: greeting 8s ease-in-out;
}
:host ion-content main #greeting.show.ukr:before {
  content: "Щоб побачити більше, скрольте вниз";
  animation: greeting-ukr 8s ease-in-out;
}
:host ion-content main #greeting.show.changed-content.eng:before {
  content: "Thanks for visiting :)";
}
:host ion-content main #greeting.show.changed-content.ukr:before {
  content: "Дякую що заглянули :)";
}
:host ion-content main .arrow-icon-wrapper {
  width: 100%;
  top: 47vh;
  justify-content: center;
}
:host ion-content main .arrow-icon-wrapper #arrow-icon {
  width: 3.5vh;
  min-width: 3.5vw;
  height: 3.5vh;
  min-height: 3.5vw;
  margin-top: 5vh;
}
:host ion-content main .arrow-icon-wrapper #arrow-icon path {
  fill: transparent;
  stroke-width: 16;
  stroke: var(--ion-color-dark);
  stroke-dasharray: 1850;
  stroke-dashoffset: 1850;
}
:host ion-content main .arrow-icon-wrapper #arrow-icon.visible path {
  animation: animate-arrow 2s linear forwards;
  stroke-dashoffset: 1850;
}
:host ion-content main #first-block {
  top: 40%;
}
:host ion-content main #second-block {
  font-size: 2vw;
}
:host ion-content main #second-block ion-button {
  height: 3.18rem;
}
:host ion-content main #second-block ion-button ion-icon {
  align-self: flex-start;
  height: 2.27rem;
  width: 2.27rem;
}
:host ion-content main #second-block.move-right {
  z-index: 30;
}
:host ion-content main #second-block.move-left {
  z-index: 1;
}
:host ion-content main #third-block {
  font-size: 2vw;
  line-height: 3vw;
}
:host ion-content main #avatar {
  width: 23.44vw;
  height: auto;
  right: 5vw;
  top: 33%;
  opacity: 0;
  transform: translateX(5vw);
  transition: transform 500ms ease-in-out, opacity 300ms ease-in;
}
:host ion-content main #avatar.move-left {
  transform: translateX(0);
  opacity: 1;
}
:host ion-content main .frameworks-img {
  width: auto;
  height: 9.5vw;
  opacity: 0;
  transition: opacity 400ms ease-in;
  top: 72%;
  z-index: 1;
}
:host ion-content main .frameworks-img.show {
  opacity: 1;
}
:host ion-content main .frameworks-img.angular {
  left: 25%;
}
:host ion-content main .frameworks-img.ionic {
  right: 25%;
}
:host ion-content main .fourth-block {
  opacity: 0;
  transform: scale(0.8);
  transition: all 200ms ease-in-out;
  font-size: 2vw;
  line-height: 3vw;
}
:host ion-content main .fourth-block.show {
  opacity: 1;
  transform: scale(1);
  transition: all 500ms ease-in-out;
}
:host ion-content main .fourth-block.show:nth-child(2) {
  transition-delay: 600ms;
}
:host ion-content main .fourth-block:first-child {
  top: 30%;
}
:host ion-content main .fourth-block:nth-child(2) {
  top: 40%;
}
:host ion-content main #fifth-block {
  opacity: 0;
  top: 58%;
  font-size: 2vw;
  line-height: 3vw;
  transform: scale(0);
}
:host ion-content main #fifth-block.show {
  transform: scale(1);
  transition: all 500ms ease-in-out;
  opacity: 1;
  transition-delay: 1200ms;
}
:host ion-content main #fifth-block.transform {
  opacity: 1;
  transform: translateY(-50vh);
  font-size: 1vw;
}
:host ion-content main #fifth-block.hide {
  opacity: 0;
}
:host ion-content main #contacts {
  top: 30%;
  left: 25%;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 500ms ease-in-out, transform 600ms ease-in-out;
  max-width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
:host ion-content main #contacts.show {
  opacity: 1;
  transform: scale(1);
  z-index: 30;
}
:host ion-content main #contacts h3 {
  font-size: 2.5vw;
  text-align: center;
}
:host ion-content main #contacts ion-button {
  width: 7vw;
  height: 7vw;
}
:host ion-content main #contacts ion-button ion-icon {
  width: 7vw;
  height: 7vw;
}
:host ion-content main #second-block, :host ion-content main #third-block {
  top: 50%;
}
:host ion-content main #first-block, :host ion-content main #second-block, :host ion-content main #third-block {
  transform: translateX(-5vw);
  opacity: 0;
  transition: transform 500ms ease-in-out, opacity 400ms ease-in;
}
:host ion-content main #first-block.move-right, :host ion-content main #second-block.move-right, :host ion-content main #third-block.move-right {
  transform: translateX(0);
  opacity: 1;
}
:host ion-content main #first-block.move-left, :host ion-content main #second-block.move-left, :host ion-content main #third-block.move-left {
  transform: translateX(5vw);
  opacity: 0;
}
@media (max-width: 800px) {
  :host ion-content main .greeting:before {
    font-size: 6vw;
  }
  :host ion-content main #first-block {
    top: 30%;
    font-size: 6vw;
  }
  :host ion-content main #second-block {
    top: 78%;
    font-size: 4vw;
  }
  :host ion-content main #second-block ion-button {
    display: block;
  }
  :host ion-content main #third-block {
    font-size: 6vw;
    line-height: 10vw;
    top: 40%;
  }
  :host ion-content main .fourth-block {
    font-size: 6vw;
    line-height: 9vw;
  }
  :host ion-content main .fourth-block:first-child {
    top: 24%;
  }
  :host ion-content main #fifth-block {
    font-size: 6vw;
    line-height: 10vw;
  }
  :host ion-content main #fifth-block.transform {
    font-size: 0px;
  }
  :host ion-content main .frameworks-img {
    height: 3.5rem;
    left: 7vw;
    right: auto;
  }
  :host ion-content main .frameworks-img.angular {
    left: 5vw;
    top: 60%;
  }
  :host ion-content main #avatar {
    height: 40vh;
    width: auto;
    left: 5vw;
    top: 36%;
  }
  :host ion-content main #contacts {
    left: 5%;
    max-width: 90%;
  }
  :host ion-content main #contacts > ion-row {
    width: 80%;
    justify-content: space-evenly;
  }
  :host ion-content main #contacts h3 {
    font-size: 7vw;
  }
  :host ion-content main #contacts ion-button {
    width: 20vw;
    height: 20vw;
  }
  :host ion-content main #contacts ion-button ion-icon {
    width: 20vw;
    height: 20vw;
  }
}

@keyframes greeting {
  0% {
    content: "";
    opacity: 0;
  }
  10% {
    content: "Hello there";
    opacity: 0;
  }
  30% {
    content: "Hello there";
    opacity: 1;
  }
  40% {
    content: "Hello there";
    opacity: 0;
  }
  41% {
    content: "Welcome to my website";
    opacity: 0;
  }
  60% {
    content: "Welcome to my website";
    opacity: 1;
  }
  70% {
    content: "Welcome to my website";
    opacity: 0;
  }
  71% {
    content: "Please scroll down";
    opacity: 0;
  }
  85% {
    content: "Please scroll down";
    opacity: 1;
  }
  90% {
    content: "Please scroll down";
    opacity: 0.2;
  }
  100% {
    content: "Please scroll down";
    opacity: 1;
  }
}
@keyframes greeting-ukr {
  0% {
    content: "";
    opacity: 0;
  }
  10% {
    content: "Привіт";
    opacity: 0;
  }
  30% {
    content: "Привіт";
    opacity: 1;
  }
  40% {
    content: "Привіт";
    opacity: 0;
  }
  41% {
    content: "Вітаю на моєму сайті";
    opacity: 0;
  }
  60% {
    content: "Вітаю на моєму сайті";
    opacity: 1;
  }
  70% {
    content: "Вітаю на моєму сайті";
    opacity: 0;
  }
  71% {
    content: "Щоб побачити більше, скрольте вниз";
    opacity: 0;
  }
  85% {
    content: "Щоб побачити більше, скрольте вниз";
    opacity: 1;
  }
  90% {
    content: "Щоб побачити більше, скрольте вниз";
    opacity: 0.2;
  }
  100% {
    content: "Щоб побачити більше, скрольте вниз";
    opacity: 1;
  }
}
@keyframes animate-arrow {
  0% {
    stroke-dashoffset: 2200;
    opacity: 0;
  }
  70% {
    stroke-dashoffset: 0;
    opacity: 0.5;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: var(--ion-color-dark);
    opacity: 1;
  }
}

/*# sourceMappingURL=home.page.css.map */
