h2{
  font-size: 40px;
  margin-bottom: 14px;

}
.add-new-list-section{
  padding: 0;
  --background: transparent;
  border-radius: 15px;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ion-input{
    border: var(--ion-color-tertiary) 4px solid;
    border-radius: 15px;
    --padding-start: 30px;
    margin-right: 20px;
    width: 20vw;
    height: 6vh;
    --background: #383a3e2b;
    --placeholder-color: white;
    --placeholder-opacity: 1;
  }
  ion-button{
    font-size: 30px;
    margin: 0;
    height: 6vh;
    --border-radius: 15px;

  }
}

@media (max-width: 800px) {
  h2{
    font-size: 16px;
  }
  .add-new-list-section{
    font-size: 14px;
    flex-direction: column;
    width: 100%;
    ion-input{
      border: var(--ion-color-tertiary) 2px solid;
      border-radius: 5px;
      --padding-start: 9px;
      margin-right: 0;
      width: 100%;
      height: 8vh;
    }
    ion-button{
      font-size: 16px;
      text-transform: uppercase;
      --border-radius: 5px;
      margin-top: 14px;
      width: 100%;
    }
  }
}
