:host{
  ion-header{
    backdrop-filter: blur(0px);
    height: 3.55rem;
  }
  ion-content{
    & > ion-row {
      padding: 1rem;
      height: calc(100vh - 7.56rem);
      .values-input{
        flex-direction: column;
        height: 100%;
        flex-wrap: nowrap;
      }
      .generated-table{
        flex-direction: column;
        width: 100%;
        height: 100%;
          ion-grid{
            max-height: 62vh;
            overflow-y: scroll;
            width: 100%;
            font-size: 0.88rem;
            margin-bottom: 1rem;
            ion-col{
              border: rgba(0,0,0,0.3) 1px solid;
              padding: 10px 0;
              user-select: all;
            }
          }

      }
    }
  }

  @media (min-width: 760px) {
    ion-content{
      & > ion-row{
        .values-input{
          //max-width: 230px;
        }
        .generated-table{
          width: 55%;
          max-width: 470px;
          ion-grid{
            max-height: 87vh;
          }
        }
      }
    }
  }
}







