<ion-header class="ion-no-border" color="tertiary">
  <app-header [useContainer]="true" [color]="color">
    <ng-container *ngIf="intViewportWidth > 380">Rems generator</ng-container>
  </app-header>
</ion-header>
<ion-content [fullscreen]="true" color="tertiary">
  <ion-row class="ion-justify-content-evenly">
    <ion-row class="values-input" *ngIf="valuesGenerated === false || intViewportWidth > 760">
        <ion-item class="full-width">
            <ion-label class="ion-text-wrap" position="stacked">Default pixel size:</ion-label>
            <ion-input [(ngModel)]="defaultPxSize"></ion-input>
        </ion-item>
        <ion-item class="full-width">
            <ion-label class="ion-text-wrap" position="stacked">Starting pixels value:</ion-label>
            <ion-input  [(ngModel)]="pxInitial"></ion-input>
        </ion-item>
        <ion-item class="full-width">
            <ion-label class="ion-text-wrap" position="stacked">Final pixels value:</ion-label>
            <ion-input [(ngModel)]="pxEnd"></ion-input>
        </ion-item>
        <ion-item class="full-width">
            <ion-label class="ion-text-wrap" position="stacked">Digits after the decimal point:</ion-label>
            <ion-input [(ngModel)]="decimalDigits"></ion-input>
        </ion-item>
      <ion-button *ngIf="valuesGenerated === false" class="full-width" (click)="generateRems()">Generate rems</ion-button>
      <ion-button *ngIf="valuesGenerated === true" class="full-width" (click)="recalculate()">Recalculate</ion-button>
    </ion-row>
    <ion-row class="generated-table ion-justify-content-start ion-text-center" *ngIf="valuesGenerated === true">
        <h1 *ngIf="intViewportWidth < 760">Your default pixel size is {{this.defaultPxSize}}</h1>
        <ion-grid class="my-scroll">
          <ion-row *ngFor="let pixelsValue of pixels; let i = index">
            <ion-col>{{pixelsValue}}px</ion-col>
            <ion-col>{{this.rem[i]}}rem</ion-col>
          </ion-row>
        </ion-grid>
      <ion-button *ngIf="valuesGenerated === true && intViewportWidth < 760" class="full-width" (click)="goEnterValues()">Recalculate</ion-button>
    </ion-row>
  </ion-row>
  <app-footer></app-footer>
</ion-content>
